In [3]:
import graphlab as gl

In [5]:
sales=gl.SFrame('kc_house_data.gl/')

In [8]:
train,test=sales.random_split(0.8,seed=0)

## get the new features

In [10]:
from math import log

In [22]:
train['bedrooms_squared'] = train['bedrooms']*train['bedrooms']
test['bedrooms_squared'] = test['bedrooms']*test['bedrooms']

train['bed_bath_rooms'] = train['bedrooms']*train['bathrooms']
test['bed_bath_rooms'] = test['bedrooms']*test['bathrooms']

train['log_sqft_living'] = train['sqft_living'].apply(lambda x: log(x))
test['log_sqft_living'] = test['sqft_living'].apply(lambda x: log(x))

train['lat_plus_long'] = train['lat']+train['long']
test['lat_plus_long'] = test['lat']+test['long']

**Quiz Question: What is the mean (arithmetic average) value of your 4 new features on TEST data? (round to 2 digits)**

In [28]:
round(test['bedrooms_squared'].mean(),2)

12.45

In [29]:
round(test['bed_bath_rooms'].mean(),2)

7.5

In [32]:
round(test['log_sqft_living'].mean(),2)

7.55

In [33]:
round(test['lat_plus_long'].mean(),2)

-74.65

## Create three models based on different features

In [40]:
model1=graphlab.linear_regression.create(train, target='price', features=['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long'],validation_set=None)
model2=graphlab.linear_regression.create(train, target='price', features=['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long','bed_bath_rooms'],validation_set=None)
model3=graphlab.linear_regression.create(train, target='price', features=['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long','bed_bath_rooms','bedrooms_squared', 'log_sqft_living','lat_plus_long'],validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 5

Number of unpacked features : 5

Number of coefficients    : 6

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.023015     | 4074878.213096     | 236378.596455 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 7

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.032022     | 4014170.932928     | 235190.935428 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 9

Number of unpacked features : 9

Number of coefficients    : 10

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.012008     | 3193229.177908     | 228200.043155 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [41]:
model1

Class                          : LinearRegression

Schema
------
Number of coefficients         : 6
Number of examples             : 17384
Number of feature columns      : 5
Number of unpacked features    : 5

Hyperparameters
---------------
L1 penalty                     : 0.0
L2 penalty                     : 0.01

Training Summary
----------------
Solver                         : newton
Solver iterations              : 1
Solver status                  : SUCCESS: Optimal solution found.
Training time (sec)            : 0.036

Settings
--------
Residual sum of squares        : 9.71328233544e+14
Training RMSE                  : 236378.5965

Highest Positive Coefficients
-----------------------------
lat                            : 629865.7895
bathrooms                      : 13811.8405
sqft_living                    : 310.2633

Lowest Negative Coefficients
----------------------------
(intercept)                    : -56140675.7444
long                           : -214790.2852
bedrooms                       : -59577.1161

**get model coefficient**

In [50]:
 model1['coefficients']

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 6

Data:
+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -56140675.7444 | 1649985.42028 |
| sqft_living |  None | 310.263325778  | 3.18882960408 |
|   bedrooms  |  None | -59577.1160683 | 2487.27977322 |
|  bathrooms  |  None | 13811.8405419  | 3593.54213297 |
|     lat     |  None | 629865.789485  | 13120.7100323 |
|     long    |  None | -214790.285186 | 13284.2851607 |
+-------------+-------+----------------+---------------+
[6 rows x 4 columns]

In [51]:
 model2['coefficients']

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 7

Data:
+----------------+-------+----------------+---------------+
|      name      | index |     value      |     stderr    |
+----------------+-------+----------------+---------------+
|  (intercept)   |  None | -54410676.1152 | 1650405.16541 |
|  sqft_living   |  None | 304.449298056  | 3.20217535637 |
|    bedrooms    |  None | -116366.04323  | 4805.54966546 |
|   bathrooms    |  None | -77972.3305131 | 7565.05991091 |
|      lat       |  None | 625433.834953  | 13058.3530972 |
|      long      |  None | -203958.602959 | 13268.1283711 |
| bed_bath_rooms |  None | 26961.6249091  | 1956.36561555 |
+----------------+-------+----------------+---------------+
[7 rows x 4 columns]

In [63]:
 model3['coefficients']

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 10

Data:
+------------------+-------+----------------+---------------+
|       name       | index |     value      |     stderr    |
+------------------+-------+----------------+---------------+
|   (intercept)    |  None | -52974974.0598 | 1615194.94383 |
|   sqft_living    |  None | 529.196420561  | 7.69913498509 |
|     bedrooms     |  None | 28948.5277291  | 9395.72889104 |
|    bathrooms     |  None | 65661.2072295  | 10795.3380703 |
|       lat        |  None | 704762.148378  |      nan      |
|       long       |  None | -137780.019966 |      nan      |
|  bed_bath_rooms  |  None | -8478.36410481 | 2858.95391257 |
| bedrooms_squared |  None | -6072.38466052 | 1494.97042777 |
| log_sqft_living  |  None | -563467.78426  | 17567.8230813 |
|  lat_plus_long   |  None | -83217.197896  |      nan      |
+------------------+-------+----------------+---------------+
[10 rows x 4 columns]

**get the RSS for training**

In [99]:
train1=model1.predict(train)
train2=model2.predict(train)
train3=model3.predict(train)
rss1=((train1-train['price'])*(train1-train['price'])).sum()
rss2=((train1-train['price'])*(train2-train['price'])).sum()
rss3=((train1-train['price'])*(train3-train['price'])).sum()

In [100]:
rss1

971328233543691.8

In [101]:
rss2

961201013664983.9

In [102]:
rss3

905459578913198.8

**predict the test set and get rss**

In [103]:
test1=model1.predict(test)
test2=model2.predict(test)
test3=model3.predict(test)

In [104]:
rss1=((test1-test['price'])*(test1-test['price'])).sum()
rss2=((test2-test['price'])*(test2-test['price'])).sum()
rss3=((test3-test['price'])*(test3-test['price'])).sum()

In [105]:
rss1

226568089092808.12

In [106]:
rss2

224368799993634.7

In [107]:
rss3

251829318950283.72